/* bleu: #35DADB
vert: #7EDBBC
bg: #F4F9F9 */
:root{
    --primaire: #7EABBC;
    --vert: #7EDBBC;
    --bleu: #3577db;
    --bg-color: #F4F9F9;
}

*{
    margin: 0;
}

body{
    background-color: var(--bg-color)
}

.navbar{
    color: white;
    background-color: var(--bleu);
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.zoneText{
    /* background-color: grey; */
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.action-btn{
    cursor: pointer;
}

.container{
    padding-left: 10px;
    /* background-color: #e9f4f4; */
    margin: 10px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.leftContent{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftContent p{
    font-size: 20px;
    font-family: cursive;
    overflow-wrap: wrap;
    cursor: pointer;
    /* text-decoration: line-through; */
}
.leftContent .input, .leftContent .icons{
    display: none;
}

.mark{
    /* display: none; */
    border: 1px solid var(--vert);
    height: 16px;
    min-width: 16px;
    border-radius: 40px;    
    margin-right: 10px;
}

.doneMark{
    display: none;
    background-color: var(--primaire);
    border: 1px solid var(--vert);
    height: 16px;
    min-width: 16px;
    border-radius: 40px;    
    margin-right: 10px;
}

.icons{
    height: 20px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    color: var(--primaire);
}

.input{
    flex: 1;
    margin-right: 70px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-family: cursive;
}

.liste, .listeTermine{
    display: none;
}

.liste h2, .listeTermine h2{
    font-family: cursive;
    margin-left: 10px;
    margin-top: 10px;
}

span{
    margin-left: 10px;
    margin-right: 10px;
    color: var(--primaire);
}

.priorite{
    width: 50px;
}

.rContent{
    display: none;
}